/*Navbar Styles*/

.navbar {
    margin: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0;
    border: none;
    height: 70px;
    font-family: 'Carter-One', cursive;   

}

.navbar-header li {
	list-style-type: none;
}

/*.navbar-brand > a {
	color: #9d9d9d;
}*/

a[role^="button"] {
	color: #9d9d9d;
	text-decoration: none;
}

a[role^="button"]:hover {
	color: #ffffff;
}

/*Jumbotron*/


.jumbotron {
	background-image: url("../img/beer-and-keg.jpg");
	background-size: cover;
	height: 55em;
	margin-bottom: 0;
}

.jumbotronText {
	margin: 0 auto;
	text-align: center;
	color: #FFFE50;
	font-family: 'Carter-One', cursive;
}

.contact-page {
	background-image: url("../img/beer-with-hops.jpg");
	background-size: cover;
	height: 55em;
	margin-bottom: 0;
}

.contact-page h1 h3 {
	color: white;
}




/*Form Styles*/

.form-control {	
	width: 301px;
	height: 36px;
	border: 2px #c5c5c5 solid;
	border-radius: 4px;
	padding: 15px;
	margin-top: 12px;
	margin-bottom: 12px;
}


.box {
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	width: 27em;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 1em;
	padding-bottom: 1em;
	margin: auto;

	
}


.control-label {
	font-size: 16px;
	font-weight: bold;
	font-family: 'Carter-One', sans-serif;
	color: whitesmoke;
	
}

.contact-form {
	/*text-align: center;*/
	/*margin-left: 13.56em;*/
	margin: 0 auto;
}

.commentsForm {
	height: 15em;
	width: 15em;
}


/* Placeholder Text Styles */


::-webkit-input-placeholder {
   font-size: 16px;
}

:-moz-placeholder { 
   font-size: 16px; 
}

::-moz-placeholder { 
   font-size: 16px;  
}

:-ms-input-placeholder {  
   font-size: 16px;  
}


/*Modal Box Styles*/


.modal-content {
	background-color: #5b5058;
	border-radius: 4px;   
}

.modal-header {
	font-family: 'Carter-One', cursive;	
	font-size: 24px;
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	
}

.modal-body {
	
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: #eeedee;
	font-family: 'Roboto Slab', cursive;
	text-align: center;
}



.modal-title {
	text-align: center;
	font-size: 24px;
	font-weight: bold;	
	color: whitesmoke;

}

.modal-footer {
	
	background: #232526;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	
}

.modalFooter-btn {	
	background-color: transparent;
	border-radius:5px;
	border:1px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color: #ffffff;
	font-family: 'Roboto Slab', cursive;
	font-size:15px;
	font-weight:bold;
	padding:5px 25px;
	text-decoration:none;
	
}

.modalFooter-btn:hover {
	color: #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #378de5), color-stop(1, #79bbff));
	background:linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
	background-color:#378de5;
}

.modalFooter-btn:active {
	position:relative;
	top:1px;
}





/*Button Styles*/

#btn-randomBeer {
	margin-top: 1em;
	width: 100%;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;	
	border-radius:5px;
/*	background-color: transparent;*/
	background: #1e130c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #9a8478, #1e130c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	color: #ffffff;
	border: 1px solid #FFFE50;
	cursor:pointer;
}

#btn-randomBeer:hover {
	background: #1e130c;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to top, #9a8478, #1e130c);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to top, #9a8478, #1e130c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.abcRioButton {
	margin: auto;
	margin-top: 2em;
	border-radius: 5px;
}

.signOut {
	margin: 0 auto;
	text-align: center;
}




/*Contact Page*/

.contact-page {
	margin-top: 10em;
}




/*Random Beer Display Styles*/

.randomBeerDisplayRow {
	margin-bottom: 0;
}

.randomBeerDisplay  {
	background-image: url("../img/rustic-wood.jpg"); 
	background-size: cover;	
	margin-top: 0;

}

.randomBeerDisplay h1 {
	font-family: 'Roboto Slab', cursive;
	text-align: center;
	text-decoration: underline;
	color: white;

}

.randomBeer {
	margin: 0 auto;
	text-align: center;
	background: rgba(0, 0, 0, 0.75);
	margin-top: 9em;
	width: 50%;
	/*height: 30em;*/
	border-radius: 5px;
}

/*.randomBeerName {
	margin: 0 auto;
	text-align: center;
	background: rgba(0, 0, 0, 0.75);
	margin-top: 5em;
	width: 50%;
	border-radius: 2px;
	
}*/

.randomBeerName h2  {
	
	font-family: 'Roboto Slab', cursive;
	font-weight: bold;
	margin: auto;
	width: 50%;
	color: white;
	font-size: 48px;

}

/*.randomBeerDesc {
	margin: 0 auto;
	text-align: center;
	width: 50%;
	height: 25em;
	background: rgba(0, 0, 0, 0.75);
}*/

.randomBeerStyle h3 {
	color: #FFFE50;
	font-family: 'Roboto Slab', cursive;
	font-size: 24px;	
}

.randomBeerDesc h3 {
	color: #ffffff;
	font-family: 'Roboto Slab', cursive;
	font-size: 24px;	
}

.randomBeerDesc p {
	margin: auto;
	font-family: 'Roboto Slab', cursive;	
	width: 50%;	
	font-size: 16px;
	color: chocolate;
	
}

.brewBuddyDescription-random {
	margin-left: 3em;
	padding: 5em;
	text-align: center;

}

.brewBuddyDescription-random h2 {	
	font-family: 'Roboto Slab', cursive;
	font-weight: bold;
	color: #FFFE50;
	padding: 1em;

}

.brewBuddyDescription-random p {	
	font-family: 'Roboto Slab', cursive;
	color: white;
	font-size: 20px;
}



/*Font Awesome Icon Styles*/

.fa.fa-beer {
	padding: 0.2em;
}

.fa.fa-user-circle {
	padding: 0.2em;
}


/*Progress Bar Styles*/

.progress {
	width: 50%;
	margin: auto;
}


/*Images*/

.hops img {
	border: 2px solid gray;
	border-radius: 50%;
	width: 25%;
	height: 25%;
	margin: 0 auto;
	text-align: center;
}